/* ========================= Global */
body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/* ========================= InfiniteHits Widget */
.ais-InfiniteHits-loadMore:not(.ais-LoadMoreWithProgressBar-loadMore) {
  display: none;
}

/* ========================= LoadMoreWithProgressBar Widget */
.ais-LoadMoreWithProgressBar {
  max-width: 300px;
  place-self: center;
}
